Django==3.1
markdown==3.3.4
django-filter==2.4.0
djangorestframework==3.12.2
pymysql==1.0.2
ConfigParser==5.0.2
pyjwt==2.0.1
six==1.15.0
djangorestframework-simplejwt==4.6.0
urllib3==1.26.4
certifi==2020.12.5
chardet==4.0.0
idna==2.10
requests==2.25.1
mysqlclient==2.0.3
gunicorn==19.9.0

# pip install --user -e git+https://codehub.devcloud.cn-north-4.huaweicloud.com/campus00001/CloudCampusPythonSDK.git@master#egg=cloudcampusPythonSdk
