# coding: utf-8

"""
    配置结果查询

    查询配置结果

    OpenAPI spec version: 1.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
from .gettoken_api import GetTokenApi


class ConfigResultApiNorthboundApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        # config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            print('api_client cannot be None.')
            # if not config.api_client:
            #     config.api_client = ApiClient()
            # self.api_client = config.api_client

    def get_config_results(self, batch_get_dto, **kwargs):
        """
        获取配置结果
        ## 典型场景 ##    提供配置参数的接口，获取配置结果。获取的配置结果为所传siteIds和deviceIds的并集。 ## 接口功能 ##    获取配置结果。 ## 接口约束 ##    只有租户管理员获取token并建立会话后才能调用该接口。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_config_results(batch_get_dto, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param BatchGetDto batch_get_dto: 服务信息。 (required)
        :return: StateResponseDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_config_results_with_http_info(batch_get_dto, **kwargs)
        else:
            (data) = self.get_config_results_with_http_info(batch_get_dto, **kwargs)
            return data

    def get_config_results_with_http_info(self, batch_get_dto, **kwargs):
        """
        获取配置结果
        ## 典型场景 ##    提供配置参数的接口，获取配置结果。获取的配置结果为所传siteIds和deviceIds的并集。 ## 接口功能 ##    获取配置结果。 ## 接口约束 ##    只有租户管理员获取token并建立会话后才能调用该接口。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_config_results_with_http_info(batch_get_dto, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param BatchGetDto batch_get_dto: 服务信息。 (required)
        :return: StateResponseDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['batch_get_dto']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_config_results" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'batch_get_dto' is set
        if ('batch_get_dto' not in params) or (params['batch_get_dto'] is None):
            raise ValueError("Missing the required parameter `batch_get_dto` when calling `get_config_results`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'batch_get_dto' in params:
            body_params = params['batch_get_dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/networkconfigservice/configresult', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='StateResponseDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
