# coding: utf-8

"""
    堆叠管理

    堆叠管理第三方接口。 场景：创建堆叠操作的第三方接口。

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
from .gettoken_api import GetTokenApi


class StackManagerApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        # config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            print('api_client cannot be None.')
            # if not config.api_client:
            #     config.api_client = ApiClient()
            # self.api_client = config.api_client

    def create_stack(self, create_stack_dto, **kwargs):
        """
        添加指定ESN设备到指定堆叠
        ## 典型场景 ## 将指定ESN设备加入指定堆叠。 ## 接口功能 ## 将指定ESN设备加入指定堆叠。若堆叠名称存在则将指定ESN设备加入到堆叠；若堆叠名称不存在则将指定堆叠创建后加入指定ESN设备。 ## 接口约束 ## 该接口必须在用户会话建立后使用。加入同一个堆叠的设备必须在同一个站点内。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_stack(create_stack_dto, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CreateStackDto create_stack_dto: 创建堆叠入参。 (required)
        :return: CreateStackOutDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_stack_with_http_info(create_stack_dto, **kwargs)
        else:
            (data) = self.create_stack_with_http_info(create_stack_dto, **kwargs)
            return data

    def create_stack_with_http_info(self, create_stack_dto, **kwargs):
        """
        添加指定ESN设备到指定堆叠
        ## 典型场景 ## 将指定ESN设备加入指定堆叠。 ## 接口功能 ## 将指定ESN设备加入指定堆叠。若堆叠名称存在则将指定ESN设备加入到堆叠；若堆叠名称不存在则将指定堆叠创建后加入指定ESN设备。 ## 接口约束 ## 该接口必须在用户会话建立后使用。加入同一个堆叠的设备必须在同一个站点内。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_stack_with_http_info(create_stack_dto, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CreateStackDto create_stack_dto: 创建堆叠入参。 (required)
        :return: CreateStackOutDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['create_stack_dto']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_stack" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'create_stack_dto' is set
        if ('create_stack_dto' not in params) or (params['create_stack_dto'] is None):
            raise ValueError("Missing the required parameter `create_stack_dto` when calling `create_stack`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'create_stack_dto' in params:
            body_params = params['create_stack_dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v3/stack', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CreateStackOutDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
