# coding: utf-8

"""
    用户管理

    用户管理第三方北向接口。 

    OpenAPI spec version: 1.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
from .gettoken_api import GetTokenApi


class UserMgrThirdApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        # config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            print('api_client cannot be None.')
            # if not config.api_client:
            #     config.api_client = ApiClient()
            # self.api_client = config.api_client

    def add_user_third(self, body, **kwargs):
        """
        新增用户信息
        ## 典型场景 ##  提供新增用户北向接口。 ## 接口功能 ##  新增用户 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_user_third(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param AddUserInputDto body: 用户结构。 (required)
        :return: AddUserOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.add_user_third_with_http_info(body, **kwargs)
        else:
            (data) = self.add_user_third_with_http_info(body, **kwargs)
            return data

    def add_user_third_with_http_info(self, body, **kwargs):
        """
        新增用户信息
        ## 典型场景 ##  提供新增用户北向接口。 ## 接口功能 ##  新增用户 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_user_third_with_http_info(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param AddUserInputDto body: 用户结构。 (required)
        :return: AddUserOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_user_third" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_user_third`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/users', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AddUserOutputDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def delete_user_third(self, body, **kwargs):
        """
        删除指定用户
        ## 典型场景 ##  提供删除用户北向接口。 ## 接口功能 ##  删除指定的用户 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_user_third(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param DeleteUserInputDto body: 删除条件，用户ID。 (required)
        :return: DeleteUserOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_user_third_with_http_info(body, **kwargs)
        else:
            (data) = self.delete_user_third_with_http_info(body, **kwargs)
            return data

    def delete_user_third_with_http_info(self, body, **kwargs):
        """
        删除指定用户
        ## 典型场景 ##  提供删除用户北向接口。 ## 接口功能 ##  删除指定的用户 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_user_third_with_http_info(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param DeleteUserInputDto body: 删除条件，用户ID。 (required)
        :return: DeleteUserOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_user_third" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `delete_user_third`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/users/batch-delete', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='DeleteUserOutputDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_user_third(self, **kwargs):
        """
        查询内置用户信息
        ## 典型场景 ##  提供通过用户组ID、用户帐号等查询内置用户信息。 ## 接口功能 ##  通过用户组ID、用户帐号等查询内置用户信息。 ## 接口约束 ##  该接口支持北向操作管理员管理访问，必须在用户会话建立后使用。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_user_third(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_group_id: 用户组ID。
        :param str user_name: 用户名称，支持模糊查询。
        :param str email: 用户邮箱。
        :param str is_contain_sub_group: 是否包含子用户组。
        :param int page_index: 页面索引。
        :param int page_size: 页面大小。
        :param str sort_key: 排序字段，默认是userName。
        :param str sort_dir: 升降序字段，支持ASC和DESC，默认是DESC。
        :return: DataListDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_user_third_with_http_info(**kwargs)
        else:
            (data) = self.get_user_third_with_http_info(**kwargs)
            return data

    def get_user_third_with_http_info(self, **kwargs):
        """
        查询内置用户信息
        ## 典型场景 ##  提供通过用户组ID、用户帐号等查询内置用户信息。 ## 接口功能 ##  通过用户组ID、用户帐号等查询内置用户信息。 ## 接口约束 ##  该接口支持北向操作管理员管理访问，必须在用户会话建立后使用。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_user_third_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_group_id: 用户组ID。
        :param str user_name: 用户名称，支持模糊查询。
        :param str email: 用户邮箱。
        :param str is_contain_sub_group: 是否包含子用户组。
        :param int page_index: 页面索引。
        :param int page_size: 页面大小。
        :param str sort_key: 排序字段，默认是userName。
        :param str sort_dir: 升降序字段，支持ASC和DESC，默认是DESC。
        :return: DataListDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_group_id', 'user_name', 'email', 'is_contain_sub_group', 'page_index', 'page_size', 'sort_key', 'sort_dir']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_user_third" % key
                )
            params[key] = val
        del params['kwargs']

        if 'user_name' in params and len(params['user_name']) > 255:
            raise ValueError("Invalid value for parameter `user_name` when calling `get_user_third`, length must be less than or equal to `255`")
        if 'user_name' in params and len(params['user_name']) < 0:
            raise ValueError("Invalid value for parameter `user_name` when calling `get_user_third`, length must be greater than or equal to `0`")
        if 'email' in params and len(params['email']) > 100:
            raise ValueError("Invalid value for parameter `email` when calling `get_user_third`, length must be less than or equal to `100`")
        if 'email' in params and len(params['email']) < 0:
            raise ValueError("Invalid value for parameter `email` when calling `get_user_third`, length must be greater than or equal to `0`")
        if 'page_index' in params and params['page_index'] > 2147483647:
            raise ValueError("Invalid value for parameter `page_index` when calling `get_user_third`, must be a value less than or equal to `2147483647`")
        if 'page_index' in params and params['page_index'] < 0:
            raise ValueError("Invalid value for parameter `page_index` when calling `get_user_third`, must be a value greater than or equal to `0`")
        if 'page_size' in params and params['page_size'] > 1000:
            raise ValueError("Invalid value for parameter `page_size` when calling `get_user_third`, must be a value less than or equal to `1000`")
        if 'page_size' in params and params['page_size'] < 0:
            raise ValueError("Invalid value for parameter `page_size` when calling `get_user_third`, must be a value greater than or equal to `0`")

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'user_group_id' in params:
            query_params.append(('userGroupId', params['user_group_id']))
        if 'user_name' in params:
            query_params.append(('userName', params['user_name']))
        if 'email' in params:
            query_params.append(('email', params['email']))
        if 'is_contain_sub_group' in params:
            query_params.append(('isContainSubGroup', params['is_contain_sub_group']))
        if 'page_index' in params:
            query_params.append(('pageIndex', params['page_index']))
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))
        if 'sort_key' in params:
            query_params.append(('sortKey', params['sort_key']))
        if 'sort_dir' in params:
            query_params.append(('sortDir', params['sort_dir']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/users', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='DataListDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def update_user_third(self, id, body, **kwargs):
        """
        修改用户信息
        ## 典型场景 ##  提供修改用户北向接口。 ## 接口功能 ##  修改指定的用户 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_user_third(id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: 用户ID。 (required)
        :param UserCommonInfo body: 用户信息。 (required)
        :return: CommonUserOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_user_third_with_http_info(id, body, **kwargs)
        else:
            (data) = self.update_user_third_with_http_info(id, body, **kwargs)
            return data

    def update_user_third_with_http_info(self, id, body, **kwargs):
        """
        修改用户信息
        ## 典型场景 ##  提供修改用户北向接口。 ## 接口功能 ##  修改指定的用户 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_user_third_with_http_info(id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: 用户ID。 (required)
        :param UserCommonInfo body: 用户信息。 (required)
        :return: CommonUserOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_user_third" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_user_third`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_user_third`")


        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/users/{id}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CommonUserOutputDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
