# coding: utf-8

"""
    用户组管理

    用户组管理开放API。 

    OpenAPI spec version: 1.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
from .gettoken_api import GetTokenApi


class UsergroupsMgrApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        # config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            print('api_client cannot be None.')
            # if not config.api_client:
            #     config.api_client = ApiClient()
            # self.api_client = config.api_client

    def add_usergroup(self, body, **kwargs):
        """
        新增用户组
        ## 典型场景 ##  提供新增用户组北向接口。 ## 接口功能 ##  新增用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_usergroup(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param AddUsergroupInputDto body: 用户组结构。 (required)
        :return: AddUsergroupOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.add_usergroup_with_http_info(body, **kwargs)
        else:
            (data) = self.add_usergroup_with_http_info(body, **kwargs)
            return data

    def add_usergroup_with_http_info(self, body, **kwargs):
        """
        新增用户组
        ## 典型场景 ##  提供新增用户组北向接口。 ## 接口功能 ##  新增用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_usergroup_with_http_info(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param AddUsergroupInputDto body: 用户组结构。 (required)
        :return: AddUsergroupOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_usergroup" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_usergroup`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/usergroups', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AddUsergroupOutputDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def del_usergroups(self, id, **kwargs):
        """
        删除用户组
        ## 典型场景 ##  提供删除用户组北向接口。 ## 接口功能 ##  删除指定的用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.del_usergroups(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: 用户组ID，UUID格式。 (required)
        :return: DeleteUsergroupOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.del_usergroups_with_http_info(id, **kwargs)
        else:
            (data) = self.del_usergroups_with_http_info(id, **kwargs)
            return data

    def del_usergroups_with_http_info(self, id, **kwargs):
        """
        删除用户组
        ## 典型场景 ##  提供删除用户组北向接口。 ## 接口功能 ##  删除指定的用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.del_usergroups_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: 用户组ID，UUID格式。 (required)
        :return: DeleteUsergroupOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method del_usergroups" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `del_usergroups`")


        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/usergroups/{id}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='DeleteUsergroupOutputDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_usergroups(self, **kwargs):
        """
        查询用户组
        ## 典型场景 ##  提供查询用户组北向接口。 ## 接口功能 ##  查询用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_usergroups(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_group_id: 用户组ID，UUID格式。
        :param str user_group_name: 用户组名，支持模糊查询。
        :param bool is_contain_sub_group: 是否包含子用户组，该变量需要和userGroupId一起使用，主要用于查询指定用户组下子部门（只包含当前指定用户组下一层子用户组，更下层的不包含）。
        :param int page_index: 页面索引。
        :param int page_size: 页面大小。
        :param str sort: 排序字段仅支持‘userGroupName’ +表示升序，-表示降序，默认用升序。
        :return: GetUsergroupsOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_usergroups_with_http_info(**kwargs)
        else:
            (data) = self.get_usergroups_with_http_info(**kwargs)
            return data

    def get_usergroups_with_http_info(self, **kwargs):
        """
        查询用户组
        ## 典型场景 ##  提供查询用户组北向接口。 ## 接口功能 ##  查询用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_usergroups_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_group_id: 用户组ID，UUID格式。
        :param str user_group_name: 用户组名，支持模糊查询。
        :param bool is_contain_sub_group: 是否包含子用户组，该变量需要和userGroupId一起使用，主要用于查询指定用户组下子部门（只包含当前指定用户组下一层子用户组，更下层的不包含）。
        :param int page_index: 页面索引。
        :param int page_size: 页面大小。
        :param str sort: 排序字段仅支持‘userGroupName’ +表示升序，-表示降序，默认用升序。
        :return: GetUsergroupsOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_group_id', 'user_group_name', 'is_contain_sub_group', 'page_index', 'page_size', 'sort']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_usergroups" % key
                )
            params[key] = val
        del params['kwargs']

        if 'user_group_name' in params and len(params['user_group_name']) > 255:
            raise ValueError("Invalid value for parameter `user_group_name` when calling `get_usergroups`, length must be less than or equal to `255`")
        if 'user_group_name' in params and len(params['user_group_name']) < 0:
            raise ValueError("Invalid value for parameter `user_group_name` when calling `get_usergroups`, length must be greater than or equal to `0`")
        if 'page_index' in params and params['page_index'] > 2147483647:
            raise ValueError("Invalid value for parameter `page_index` when calling `get_usergroups`, must be a value less than or equal to `2147483647`")
        if 'page_index' in params and params['page_index'] < 0:
            raise ValueError("Invalid value for parameter `page_index` when calling `get_usergroups`, must be a value greater than or equal to `0`")
        if 'page_size' in params and params['page_size'] > 1000:
            raise ValueError("Invalid value for parameter `page_size` when calling `get_usergroups`, must be a value less than or equal to `1000`")
        if 'page_size' in params and params['page_size'] < 0:
            raise ValueError("Invalid value for parameter `page_size` when calling `get_usergroups`, must be a value greater than or equal to `0`")

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'user_group_id' in params:
            query_params.append(('userGroupId', params['user_group_id']))
        if 'user_group_name' in params:
            query_params.append(('userGroupName', params['user_group_name']))
        if 'is_contain_sub_group' in params:
            query_params.append(('isContainSubGroup', params['is_contain_sub_group']))
        if 'page_index' in params:
            query_params.append(('pageIndex', params['page_index']))
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))
        if 'sort' in params:
            query_params.append(('sort', params['sort']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/usergroups', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='GetUsergroupsOutputDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def update_usergroup(self, id, body, **kwargs):
        """
        修改用户组
        ## 典型场景 ##  提供修改用户组北向接口。 ## 接口功能 ##  修改指定的用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_usergroup(id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: 用户组ID，UUID格式。 (required)
        :param UpdateUsergroupInputDto body: 用户组结构。 (required)
        :return: CommonUsergroupOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_usergroup_with_http_info(id, body, **kwargs)
        else:
            (data) = self.update_usergroup_with_http_info(id, body, **kwargs)
            return data

    def update_usergroup_with_http_info(self, id, body, **kwargs):
        """
        修改用户组
        ## 典型场景 ##  提供修改用户组北向接口。 ## 接口功能 ##  修改指定的用户组 ## 接口约束 ##  该接口支持北向管理员访问，必须在用户会话建立后使用。  
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_usergroup_with_http_info(id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: 用户组ID，UUID格式。 (required)
        :param UpdateUsergroupInputDto body: 用户组结构。 (required)
        :return: CommonUsergroupOutputDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_usergroup" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_usergroup`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_usergroup`")


        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/controller/campus/v1/accountservice/usergroups/{id}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CommonUsergroupOutputDto',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
